<app-general-alert titulo="Tipo de trabajador" [cerrarAlert]="onClick.cerrarAlert">
  <p class="fw-normal mb-0">¿Está seguro de querer eliminar el tipo de trabajador?</p>
  <div footer>
    <app-general-button
      claseBoton="secondary"
      label="Cancelar"
      [esSecundario]="true"
      class="m-1"
      (click)="onClick.cerrarAlert()"
    ></app-general-button>
    <app-general-button
      claseBoton="primary"
      label="Eliminar"
      class="m-1"
      (click)="onClick.eliminarTipoTrabajador()"
    ></app-general-button>
  </div>
</app-general-alert>
