<div class="d-flex flex-column h-100">
  <div class="d-flex align-items-center">
    <app-general-button
      claseBoton="light"
      nombreIcono="bi bi-arrow-left"
      (click) = "onClick.irAtras()"
    ></app-general-button>
    <h4 class="m-0 ps-2">Sociedad: {{nombreSociedad}}</h4>
  </div>

  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link active" 
        id="campanias-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#campanias" 
        type="button" 
        role="tab" 
        aria-controls="campanias" 
        aria-selected="true"
      >Campañas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link" 
        id="integrantes-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#integrantes" 
        type="button" 
        role="tab" 
        aria-controls="integrantes" 
        aria-selected="false"
      >Integrantes</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane  show active" id="campanias" role="tabpanel" aria-labelledby="campanias-tab">
      <app-campania-sociedad
        [idSociedad]="idSociedad"
        [esAdministrador]="esAdministrador"
      ></app-campania-sociedad>
    </div>
    <div class="tab-pane " id="integrantes" role="tabpanel" aria-labelledby="integrantes-tab">
      <app-integrantes-sociedad
        [idSociedad]="idSociedad"
        [esAdministrador]="esAdministrador"
      ></app-integrantes-sociedad>
    </div>
  </div>
</div>
