<div class="d-flex flex-column h-100">
  <div class="d-flex align-items-center">
    <app-general-button
      claseBoton="light"
      nombreIcono="bi bi-arrow-left"
      (click) = "onClick.irAtras()"
    ></app-general-button>
    <h4 class="m-0 ps-2">Sociedad: {{nombreSociedad}}</h4>
  </div>

  <div class="d-flex align-items-center mt-3">
  <h5 class="m-0">Integrantes</h5>
  </div>

  <div class="card mt-2">
    <!-- <div class="card-header fw-bold">
      Integrantes
    </div> -->
    <ul class="list-group list-group-flush list-group-numbered">
      <li *ngFor="let item of integrantes" class="list-group-item">
        {{ item.nombreCompleto }}
      </li>
    </ul>
  </div>

  <div class="d-flex justify-content-between mt-3 align-items-center">
    <h5 class="m-0">Campañas</h5>

    <app-general-button
    claseBoton="primary"
    label="Nuevo"
    ></app-general-button>
  </div>

  <div class="card mt-2">
    <!-- <div class="card-header fw-bold">
      Campañas
    </div> -->
    <div class="card-body p-0 table-responsive">
      <table class="table mb-0 table-hover">
        <thead>
          <tr>
            <th scope="col">Nro.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Terreno</th>
            <th scope="col">Cultivo</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fin</th>
            <th scope="col">Estado</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsTabla.data">
            <td class="ps-2" scope="row">{{ item.numero }}</td>
            <td scope="row">{{ item.nombre }}</td>
            <td scope="row">{{ item.terreno }}</td>
            <td scope="row">{{ item.cultivo }}</td>
            <td scope="row">{{ item.inicio }}</td>
            <td scope="row">{{ item.fin }}</td>
            <td>
              <span *ngIf="item.estado; else inactivo" class="badge bg-success">Activo</span>
              <ng-template #inactivo>
                <span class="badge bg-danger">Inactivo</span>
              </ng-template>
            </td>
            <td>
              <div class="gap-2 d-flex">
                <app-general-button claseBoton="info px-3" [esSmall]="true"
                  label="Ver más"></app-general-button>
              </div>
            </td>
            <!-- <td>
              <div class="gap-2 d-flex">
                <app-general-button claseBoton="info px-3" [esSmall]="true" (click)="onClick.editarCultivo(item.id)"
                  nombreIcono="bi-pencil-square"></app-general-button>

                <app-general-button *ngIf="item.estado; else inactivar" claseBoton="info px-3" [esSmall]="true"
                  nombreIcono="bi-x-lg" (click)="onClick.cambiarEstadoCultivo(item.id)"></app-general-button>
                <ng-template #inactivar>
                  <app-general-button claseBoton="info px-3" [esSmall]="true" nombreIcono="bi-check-lg"
                    (click)="onClick.cambiarEstadoCultivo(item.id)"></app-general-button>
                </ng-template>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
      <app-general-pagination
        [paginaActual]="paginacionVars.paginaActual"
        [totalPaginas]="paginacionVars.totalPaginas"
        [totalFilas]="paginacionVars.totalFilas"
        (eventChangePage)="paginacionVars.onChangePage($event)"
        *ngIf="itemsTabla.data.length > 0"
      ></app-general-pagination>
      <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>
    </div>
  </div>

</div>
