<div class="d-flex flex-column h-100">

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="m-0">Sociedades</h4>

    <app-general-button
    claseBoton="primary"
    label="Nuevo"
    [esSmall]="true"
    (click) = "onClick.nuevo()"
    ></app-general-button>
  </div>

  <div class="row p-0 m-0">
    <app-general-input
    [fGroup]="form"
    nombreControl="nombre"
    class="col-lg-4 col-md-6 col-sm-12 p-0 pt-2"
    tipo="text"
    placeholder="Buscar por nombre"
    nombreIcono="bi-search"
    [onClickButton]="onClick.buscar"
    (keyup.enter)="onClick.buscar()"
    ></app-general-input>
  </div>

  <div class="card mt-2">
    <div class="card-body p-0 ">
      <table class="table table-sm mb-0 table-hover">
        <thead>
          <tr>
            <th class="ps-2" scope="col">Nro.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsTabla.data">
            <td class="ps-2" scope="row">{{ item.numero }}</td>
            <td scope="row">{{ item.nombre }}</td>
            <td scope="row">
              <div class="gap-2 d-flex">
                <app-general-button
                  claseBoton="info px-3"
                  [esSmall]="true"
                  label="Ver más"
                  (click)="onClick.verMas(item)"
                ></app-general-button>
              </div>
            </td>
            <!-- <td>
              <span *ngIf="item.estado; else inactivo" class="badge bg-success">Activo</span>
              <ng-template #inactivo>
                <span class="badge bg-danger">Inactivo</span>
              </ng-template>
            </td>
            <td>
              <div class="gap-2 d-flex">
                <app-general-button claseBoton="info px-3" [esSmall]="true" (click)="onClick.editarCultivo(item.id)"
                  nombreIcono="bi-pencil-square"></app-general-button>

                <app-general-button *ngIf="item.estado; else inactivar" claseBoton="info px-3" [esSmall]="true"
                  nombreIcono="bi-x-lg" (click)="onClick.cambiarEstadoCultivo(item.id)"></app-general-button>
                <ng-template #inactivar>
                  <app-general-button claseBoton="info px-3" [esSmall]="true" nombreIcono="bi-check-lg"
                    (click)="onClick.cambiarEstadoCultivo(item.id)"></app-general-button>
                </ng-template>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
      <app-general-pagination
        [paginaActual]="paginacionVars.paginaActual"
        [totalPaginas]="paginacionVars.totalPaginas"
        [totalFilas]="paginacionVars.totalFilas"
        (eventChangePage)="paginacionVars.onChangePage($event)"
        *ngIf="itemsTabla.data.length > 0"
      ></app-general-pagination>
      <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>

    </div>
  </div>
</div>


