
  <h5 class="card-title pt-0">Filtros</h5>
  <div class="align-items-end row">
    <app-general-input
      [fGroup]="form"
      label="Actividad: "
      nombreControl="tipoActividad"
      class="col-12 col-md-3"
    ></app-general-input>
    <app-general-input
      [fGroup]="form"
      nombreControl="fechaActividad"
      label="Fecha: "
      tipo="date"
      class="col-12 col-md-3"
    ></app-general-input>
    <div class="col-md-4 gap-1 mt-1">
      <app-general-button
        claseBoton="secondary"
        label="Limpiar"
        class="col-12"
        [esSecundario]="true"
        [onClickButton]="click.limpiar"
      ></app-general-button>
      <app-general-button
        claseBoton="primary"
        label="Buscar"
        (click)="buscar()"
        class="col-12 ms-2"
      ></app-general-button>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2 align-items-center">
    <h5 class="card-title">Listado</h5>
    <app-general-button
      claseBoton="primary"
      label="Nuevo"
      [onClickButton]="click.nuevo"
    ></app-general-button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-sm mt-3">
      <thead>
        <tr>
          <th scope="col">Nro.</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsTabla.data">
          <td class="ps-2" scope="row">{{ item.correlativo }}</td>
          <td scope="row">{{ item.nombreTipoActividad }}</td>
          <td scope="row">{{ item.fechaActividad | date : "dd/MM/yyyy" }}</td>
          <td scope="row">{{ item.descripcionActividad }}</td>
          <td scope="row">
            <div class="gap-2 d-flex">
              <div class="dropdown">
                <button
                  class="btn btn-info dropdown-toggle btn-sm px-3"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <app-general-button
                      claseBoton="dropdown-item"
                      label="Editar"
                      [sinClasesDeBoton]="true"
                      (click)="click.editar(item)"
                    >
                    </app-general-button>
                    <app-general-button
                    claseBoton="dropdown-item"
                    label="Ver detalle"
                    [sinClasesDeBoton]="true"
                    (click)="click.verDetalle(item)"
                  >
                  </app-general-button>
                    <app-general-button
                      claseBoton="dropdown-item"
                      label="Eliminar"
                      [sinClasesDeBoton]="true"
                      (click)="click.eliminar(item)"
                    ></app-general-button>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-general-pagination
      [paginaActual]="paginacionVars.paginaActual"
      [totalPaginas]="paginacionVars.totalPaginas"
      [totalFilas]="paginacionVars.totalFilas"
      (eventChangePage)="paginacionVars.onChangePage($event)"
      *ngIf="itemsTabla.data.length > 0"
    ></app-general-pagination>
    <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>
  </div>


<app-nuevo-editar-actividades
  *ngIf="nuevoEditarActividades.mostrarModal"
  [idCampania]="idCampania"
  (actualizo)="actualizarTabla()"
  [item]="item"
  [isEditarActividad]="isEditar"
  [verDetalle]="verDetalle"
></app-nuevo-editar-actividades>

<app-aler-eliminar-actividad
  [item]="item"
  *ngIf="servicioAlert.mostrarModal"
></app-aler-eliminar-actividad>