main {
  padding: 10px;
  overflow-x: auto;
  height: calc(100vh - 60px);

}

.contenedor {
  display: flex;
}

.contenido {
  width: 100%;
}

.ab::-webkit-scrollbar {
  -webkit-appearance: none;
}

.ab::-webkit-scrollbar:vertical {
  width: 10px;
}

.ab::-webkit-scrollbar-button:increment,
.ab::-webkit-scrollbar-button {
  display: none;
}

.ab::-webkit-scrollbar:horizontal {
  height: 10px;
}

.ab::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.ab::-webkit-scrollbar-track {
  border-radius: 10px;
}
