.icono {
  color: #fff;
  font-size: 20px;
}

.boton {
  text-decoration: none;
  border: 0;
  padding: 8px;
  background-color: transparent;
}

.boton:hover {
  background-color: #0b5ed7;
}

.boton-desplegable {
  visibility: visible;
}

.boton-retroceder {
  display: none;
}

@media only screen and (min-width: 768px) {
  .boton-desplegable {
    display: none;
  }
}

.ab::-webkit-scrollbar {
  -webkit-appearance: none;
}

.ab::-webkit-scrollbar:vertical {
  width: 10px;
}

.ab::-webkit-scrollbar-button:increment,
.ab::-webkit-scrollbar-button {
  display: none;
}

.ab::-webkit-scrollbar:horizontal {
  height: 10px;
  
}

.ab::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.ab::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
