<nav class="navbar navbar-dark bg-primary sticky-top p-0 shadow-sm">
  <div class="container-fluid">
    <div>
      <button class="boton boton-desplegable" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuDesplegable"
        aria-controls="menuDesplegable">
        <i class="icono bi bi-list"></i>
      </button>
      <a class="navbar-brand ps-1">
        AgroSistema
      </a>
    </div>

    <div class="d-flex">
      <button class="boton" type="button">
        <i class="icono bi bi-person"></i>
      </button>

    </div>
  </div>
</nav>
