<!-- <nav
  class="navbar navbar-dark bg-primary sticky-top p-0 shadow-sm"
>
  <div class="container-fluid">
    <div>
      <button
        class="boton boton-desplegable"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menuDesplegable"
        aria-controls="menuDesplegable"
      >
        <i class="icono bi bi-list"></i>
      </button>
      <a class="navbar-brand ps-1"> AgroSistema </a>
    </div>
    <div class="d-flex align-items-center">
      <span class="fs-6 text-light pe-1 d-none d-md-block">
        {{ perfilUsuarioVars.nombreCompleto }}
      </span>

      <div class="btn-group">
        <button
          class="boton position-relative"
          type="button"
          id="dropdownInvitacionesSociedad"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <i class="icono bi bi-bell"></i>
          <span 
            class="position-absolute top-100 start-10 translate-middle badge rounded-pill bg-danger"
            style="top: 25%!important;"
            *ngIf="listaInvitaciones.length > 0"
          >
            {{ listaInvitaciones.length }}
          </span>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end overflow-auto p-0 border-0"
          style="width: 300px; max-height: 90vh;"
          aria-labelledby="dropdownInvitacionesSociedad"
        >
          <ol class="list-group ">
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let item of listaInvitaciones">
              <div class="ms-2 me-auto">
                <span class="fw-bold">{{ item.nombreEmisor }}</span> te ha
              invitado a unirte a la sociedad
              <span class="fw-bold">{{ item.nombreSociedad }}</span>
              <div class="row">
                <app-general-button
                  claseBoton="secondary anchoBoton"
                  label="Rechazar"
                  tipo="submit"
                  [esSmall]="true"
                  class="col-6"
                  (click)="onClick.rechazar(item)"
                ></app-general-button>
  
                <app-general-button
                  claseBoton="primary anchoBoton"
                  label="Aceptar"
                  tipo="submit"
                  [esSmall]="true"
                  class="col-6"
                  (click)="onClick.aceptar(item)"
                ></app-general-button>
              </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="listaInvitaciones.length == 0">
              <div class="ms-2 me-auto">
                Actualmente no cuenta con invitaciones.
              </div>
            </li>
          </ol>
        </ul>
        <button
          class="boton position-relative mx-1"
          type="button"
          id="dropdownInvitacionesSociedad"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <i class="icono bi bi-person-add"></i>
          <span 
            class="position-absolute top-100 start-10 translate-middle badge rounded-pill bg-danger"
            style="top: 25%!important;"
            *ngIf="listaInvitaciones.length > 0"
          >
            {{ listaInvitaciones.length }}
          </span>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end overflow-auto p-0 border-0"
          style="width: 300px; max-height: 90vh;"
          aria-labelledby="dropdownInvitacionesSociedad"
        >
          <ol class="list-group ">
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let item of listaInvitaciones">
              <div class="ms-2 me-auto">
                <span class="fw-bold">{{ item.nombreEmisor }}</span> te ha
              invitado a unirte a la sociedad
              <span class="fw-bold">{{ item.nombreSociedad }}</span>
              <div class="row">
                <app-general-button
                  claseBoton="secondary anchoBoton"
                  label="Rechazar"
                  tipo="submit"
                  [esSmall]="true"
                  class="col-6"
                  (click)="onClick.rechazar(item)"
                ></app-general-button>
  
                <app-general-button
                  claseBoton="primary anchoBoton"
                  label="Aceptar"
                  tipo="submit"
                  [esSmall]="true"
                  class="col-6"
                  (click)="onClick.aceptar(item)"
                ></app-general-button>
              </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="listaInvitaciones.length == 0">
              <div class="ms-2 me-auto">
                Actualmente no cuenta con invitaciones.
              </div>
            </li>
          </ol>
        </ul>
        <button
          class="boton position-relative"
          type="button"
          id="dropdownUsuario"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <i class="icono bi bi-person"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          style="width: 300px"
          aria-labelledby="dropdownUsuario"
        >
          <li>
            <span class="dropdown-item-text fw-normal">
              {{ perfilUsuarioVars.nombreCompleto }} <br /><span
                class="text-muted"
                >{{ perfilUsuarioVars.usuario }}</span
              >
            </span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <button
              class="dropdown-item"
              type="button"
              (click)="editarPerfil()"
            >
              Editar perfil
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              type="button"
              (click)="cerrarSesion()"
            >
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">AgroSistema</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="onClick.desplegar()"></i>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" style="width: 350px; max-height: 90vh; overflow: auto;">
          <li class="dropdown-header">
            Tiene 0 notificaciones nuevas
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todas</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Mostrar todas las notificaciones</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-people"></i>
          <span class="badge bg-success badge-number" *ngIf="listaInvitaciones.length > 0">{{listaInvitaciones.length}}</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style="width: 350px; max-height: 90vh; overflow: auto;">
          
          <li class="dropdown-header" *ngIf="listaInvitaciones.length == 0">
            Actualmente no cuenta con invitaciones 
          </li>
          <li class="dropdown-header" *ngIf="listaInvitaciones.length > 0">
            Tiene {{listaInvitaciones.length}} {{listaInvitaciones.length == 1 ? "invitacion nueva" : "invitaciones nuevas" }} 
          </li>
          <li>
            <hr class="dropdown-divider" *ngIf="listaInvitaciones.length > 0">
          </li>
          <div *ngFor="let item of listaInvitaciones">
            <li class="message-item" *ngIf="listaInvitaciones.length > 0">
              <div>
                <h4 style="font-weight: 400">{{ item.nombreEmisor }} ha invitado a unirte a la sociedad {{ item.nombreSociedad }}</h4>
                <button class="badge rounded-pill bg-secondary py-2 px-3 border-0" (click)="onClick.rechazar(item)">Rechazar</button>
                <button class="badge rounded-pill bg-primary py-2 px-3 ms-2 border-0" (click)="onClick.aceptar(item)">Aceptar</button>
  
              </div>
            </li>
            <li>
              <hr class="dropdown-divider" *ngIf="listaInvitaciones.length > 0">
            </li>
          </div>
          
          <li class="dropdown-footer" *ngIf="listaInvitaciones.length > 0">
            Invitaciones para unirse a una sociedad
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="assets/img/user.png" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{ perfilUsuarioVars.nombreCompleto }}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ perfilUsuarioVars.nombreCompleto }}</h6>
            <span>{{ perfilUsuarioVars.usuario }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <button class="dropdown-item d-flex align-items-center" (click)="editarPerfil()">
              <i class="bi bi-person"></i>
              <span>Mi perfil</span>
            </button>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <button class="dropdown-item d-flex align-items-center" (click)="cerrarSesion()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Cerrar sesión</span>
            </button>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->