<nav class="navbar navbar-dark bg-primary sticky-top p-0 shadow-sm">
  <div class="container-fluid">
    <div>
      <button class="boton boton-desplegable" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuDesplegable"
        aria-controls="menuDesplegable">
        <i class="icono bi bi-list"></i>
      </button>
      <a class="navbar-brand ps-1">
        AgroSistema
      </a>
    </div>
    <div class="d-flex align-items-center">
      <span class="fs-6 text-light pe-1 d-none d-md-block">
        {{ nombreCompleto }}
      </span>

      <div class="btn-group" >
        <button class="boton" type="button" id="dropdownUsuario" data-bs-toggle="dropdown" data-bs-display="static"
          aria-expanded="false">
          <i class="icono bi bi-person"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" style="width: 300px;" aria-labelledby="dropdownUsuario">
          <li>
            <span class="dropdown-item-text fw-normal">
              {{ nombreCompleto }} <br><span class="text-muted">{{ usuario }}</span>
            </span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="editarPerfil()">
              Editar perfil
            </button>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item" type="button" (click)="cerrarSesion()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
