<div class="d-flex justify-content-between mt-3 align-items-center">
  <h5 class="m-0">Gastos</h5>
</div>

<div class="accordion my-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Búsqueda
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="row">
          <app-general-select
            class="py-1 col-12 col-md-4 col-sm-6"
            [fGroup]="form"
            nombreControl="tipoGasto"
            label="Tipo de gasto: "
            [esSmall]="true"
            [values]="valoresTipoGasto"
          ></app-general-select>
          <app-general-input
            [fGroup]="form"
            nombreControl="fechaGasto"
            label="Fecha: "
            class="py-1 col-12 col-md-4 col-sm-6"
            tipo="date"
          ></app-general-input>
        </div>
        <div class="d-flex justify-content-end mt-3 align-items-center mt-2">
          <app-general-button
            claseBoton="secondary"
            label="Limpiar"
            [esSmall]="true"
            class="me-2" 
            [esSecundario]="true"
            [onClickButton]="onClick.limpiar"
          ></app-general-button>
          <app-general-button
            claseBoton="primary"
            label="Buscar"
            [esSmall]="true"
            (click)="buscar()"
          ></app-general-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-start mt-3 align-items-center">
  <app-general-button
    claseBoton="primary"
    label="Nuevo"
    [esSmall]="true"
    [onClickButton]="onClick.agregarGasto"
  ></app-general-button>
</div>
<div class="card mt-2">
  <div class="card-body p-0 table-responsive">
    <table class="table table-sm mb-0 table-hover">
      <thead>
        <tr>
          <th scope="col">Nro.</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Costo unitario</th>
          <th scope="col">Costo total</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsTabla.data">
          <td class="ps-2" scope="row">{{ item.numero }}</td>
          <td scope="row">{{ item.nombreTipoGasto }}</td>
          <td scope="row">{{ item.fechaGasto | date: 'dd/MM/yyyy' }}</td>
          <td scope="row">{{ item.cantidad }}</td>
          <td scope="row">{{ item.costoUnitario }}</td>
          <td scope="row">{{ item.costoTotal }}</td>
          <td>
            <div class="gap-2 d-flex">
              <div class="dropdown">
                <button
                  class="btn btn-info dropdown-toggle btn-sm px-3"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <app-general-button
                      claseBoton="dropdown-item"
                      label="Editar"
                      [sinClasesDeBoton]="true"
                      (click)="onClick.editarGasto(item)"
                    ></app-general-button>
                    <app-general-button
                      claseBoton="dropdown-item"
                      label="Eliminar"
                      [sinClasesDeBoton]="true"
                      (click)="onClick.eliminarGasto(item)"
                    ></app-general-button>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-general-pagination
      [paginaActual]="paginacionVars.paginaActual"
      [totalPaginas]="paginacionVars.totalPaginas"
      [totalFilas]="paginacionVars.totalFilas"
      (eventChangePage)="paginacionVars.onChangePage($event)"
      *ngIf="itemsTabla.data.length > 0"
    ></app-general-pagination>
    <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>
  </div>
</div>

<app-nuevo-editar-gastos-campania
  *ngIf="servicioModal.mostrarModal"
  [isEditar]="isEditarGasto"
  [idCampania]="idCampania"
  (actualizo)="actualizarTabla()"
  [gastoDetalleItem]="gastoDetalleItem"
></app-nuevo-editar-gastos-campania>

<app-alert-eliminar-gastos-campania
  *ngIf="eliminarGastoDetalleService.mostrarModal"
  [id]="gastoDetalleItem.idGastoDetalle"
  (elimino)="actualizarTabla()"
></app-alert-eliminar-gastos-campania>
