<h5 class="card-title pt-0">Filtros</h5>
<div class="align-items-end row">
  <app-general-input
    class="col-12 col-md-3"
    [fGroup]="form"
    nombreControl="tipoGasto"
    label="Gasto: "
  ></app-general-input>
  <app-general-input
    [fGroup]="form"
    nombreControl="fechaGasto"
    label="Fecha: "
    class="col-12 col-md-3"
    tipo="date"
  ></app-general-input>
  <div class="col-md-4 gap-1 mt-1">
    <app-general-button
      claseBoton="secondary"
      label="Limpiar"
      class="col-12"
      [esSecundario]="true"
      [onClickButton]="onClick.limpiar"
    ></app-general-button>
    <app-general-button
      claseBoton="primary"
      label="Buscar"
      (click)="buscar()"
      class="col-12 ms-2"
    ></app-general-button>
  </div>
</div>

<div class="d-flex justify-content-between mt-2 align-items-center">
  <h5 class="card-title">Listado</h5>
  <app-general-button
    claseBoton="primary"
    label="Nuevo"
    [onClickButton]="onClick.agregarGasto"
    *ngIf="data.estadoProcesoCampania == 'P'"
  ></app-general-button>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Nro.</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Costo unitario</th>
        <th scope="col">Costo total</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemsTabla.data">
        <td class="ps-2" scope="row">{{ item.numero }}</td>
        <td scope="row">{{ item.nombreTipoGasto }}</td>
        <td scope="row">{{ item.fechaGasto | date : "dd/MM/yyyy" }}</td>
        <td scope="row">{{ item.cantidad }}</td>
        <td scope="row">{{ item.costoUnitario }}</td>
        <td scope="row">{{ item.costoTotal }}</td>
        <td scope="row">{{ item.descripcion }}</td>
        <td>
          <div class="gap-2 d-flex">
            <div class="dropdown">
              <button
                class="btn btn-info dropdown-toggle btn-sm px-3"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <app-general-button
                    claseBoton="dropdown-item"
                    label="Editar"
                    [sinClasesDeBoton]="true"
                    (click)="onClick.editarGasto(item)"
                    *ngIf="data.estadoProcesoCampania == 'P'"
                  ></app-general-button>
                  <app-general-button
                    claseBoton="dropdown-item"
                    label="Eliminar"
                    [sinClasesDeBoton]="true"
                    (click)="onClick.eliminarGasto(item)"
                    *ngIf="data.estadoProcesoCampania == 'P'"
                  ></app-general-button>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-general-pagination
  [paginaActual]="paginacionVars.paginaActual"
  [totalPaginas]="paginacionVars.totalPaginas"
  [totalFilas]="paginacionVars.totalFilas"
  (eventChangePage)="paginacionVars.onChangePage($event)"
  *ngIf="itemsTabla.data.length > 0"
></app-general-pagination>
<app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>

<app-nuevo-editar-gastos-campania
  *ngIf="servicioModal.mostrarModal"
  [isEditar]="isEditarGasto"
  [idCampania]="idCampania"
  (actualizo)="actualizarTabla()"
  [gastoDetalleItem]="gastoDetalleItem"
></app-nuevo-editar-gastos-campania>

<app-alert-eliminar-gastos-campania
  *ngIf="eliminarGastoDetalleService.mostrarModal"
  [id]="gastoDetalleItem.idGastoDetalle"
  (elimino)="actualizarTabla()"
></app-alert-eliminar-gastos-campania>
