<app-modal [titulo]="tituloModal" [cerrarModal]="onClick.cerrarModal">
  <form class="w-100" [formGroup]="form!">
    <div class="d-flex flex-wrap row">
      <app-general-input
        [fGroup]="form"
        nombreControl="cantidad"
        label="Cantidad: "
        [mensajeError]="mensajesError.nombre"
        class="py-1 col-lg-6 col-md-6 col-sm-12"
        tipo="text"
        [soloNumeros]="true"
      ></app-general-input>

      <app-general-select
        class="py-1 col-lg-6 col-md-6 col-sm-12"
        [fGroup]="form"
        nombreControl="unidad"
        label="Unidad: "
        [mensajeError]="mensajesError.nombre"
        [values]="valoresUnidad"
      ></app-general-select>

      <app-general-select
        class="py-1 col-lg-6 col-md-6 col-sm-12"
        [fGroup]="form"
        nombreControl="calidad"
        label="Calidad: "
        [mensajeError]="mensajesError.nombre"
        [values]="valoresCalidad"
      ></app-general-select>

      <app-general-input
        [fGroup]="form"
        nombreControl="descripcion"
        label="Descripción: "
        [mensajeError]="mensajesError.nombre"
        class="py-1 col-lg-12 col-md-12 col-sm-12"
        tipo="area"
        [filas]="3"
      ></app-general-input>

    </div>
  </form>
  <div footer>
    <app-general-button
      claseBoton="secondary"
      label="Cancelar"
      [esSmall]="true"
      [esSecundario]="true"
      class="m-1"
      [onClickButton]="onClick.cerrarModal"
    ></app-general-button>
    <app-general-button
      claseBoton="primary"
      label="Guardar"
      [esSmall]="true"
      class="m-1"
    ></app-general-button>
  </div>
</app-modal>


