<div class="pagetitle">
  <h1>Mi perfil</h1>
</div>

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img src="assets/img/user.png" alt="Profile" class="rounded-circle" />
          <h2>{{ nombreCompleto }}</h2>
          <h3>{{ nombreUsuario }}</h3>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Editar Perfil
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Cambiar Contraseña
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Eliminar cuenta
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview mt-2"
              id="profile-overview"
            >
              <form
                (ngSubmit)="actualizarInformacionPerfil()"
                [formGroup]="formPerfil!"
              >
                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formPerfil"
                    nombreControl="nombre"
                    label="Nombre:"
                    [mensajeError]="mensajesError.nombre"
                    tipo="text"
                    id="nombre"
                    class="mb-3 col-md-6"
                  ></app-general-input>
                </div>

                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formPerfil"
                    nombreControl="apellidoPaterno"
                    label="Apellido paterno:"
                    [mensajeError]="mensajesError.apellidoPaterno"
                    tipo="text"
                    id="apellidoPaterno"
                    class="mb-3 col-md-6"
                  ></app-general-input>
                </div>

                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formPerfil"
                    nombreControl="apellidoMaterno"
                    label="Apellido materno:"
                    [mensajeError]="mensajesError.apellidoMaterno"
                    tipo="text"
                    id="apellidoMaterno"
                    class="mb-3 col-md-6"
                  ></app-general-input>
                </div>
                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formPerfil"
                    nombreControl="correo"
                    label="Correo electrónico:"
                    [mensajeError]="mensajesError.correo"
                    tipo="text"
                    id="correo"
                    class="mb-3 col-md-6"
                  ></app-general-input>
                </div>
                <app-general-button
                  claseBoton="primary"
                  label="Actualizar"
                  tipo="submit"
                ></app-general-button>
              </form>
            </div>

            <div class="tab-pane fade  pt-2" id="profile-edit">
              <!-- Profile Edit Form -->
              <form (ngSubmit)="actualizarClaves()" [formGroup]="formClaves!">
                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formClaves"
                    nombreControl="claveAnterior"
                    label="Contraseña actual:"
                    [mensajeError]="mensajesError.clave"
                    id="clave"
                    tipo="password"
                    class="mb-3 col-md-6"
                  ></app-general-input>
                </div>
          
                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formClaves"
                    nombreControl="clave"
                    label="Contraseña:"
                    [mensajeError]="mensajesError.clave"
                    id="clave"
                    tipo="password"
                    class="mb-3 col-md-6"
                    (input)="validarRepetirClave()"
                  ></app-general-input>
                </div>
          
                <div class="mb-3 col-md-6">
                  <app-general-input
                    [fGroup]="formClaves"
                    nombreControl="repetirClave"
                    label="Repita la contraseña:"
                    [mensajeError]="mensajesError.repetirClave"
                    id="repetirClave"
                    tipo="password"
                    class="mb-3 col-md-6"
                    (input)="validarRepetirClave()"
                  ></app-general-input>
                </div>
          
                <app-general-button
                  claseBoton="primary"
                  label="Actualizar"
                  tipo="submit"
                ></app-general-button>
              </form>
              <!-- End Profile Edit Form -->
            </div>

            <div class="tab-pane fade pt-2" id="profile-settings">
              <!-- Settings Form -->
              <p class="card-text">Si elimina su cuenta no podrá recuperarla.</p>
              <app-general-button
                claseBoton="danger"
                label="Eliminar"
                (click)="eliminar()"
              ></app-general-button>

              <!-- End settings Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>


<app-alert-eliminar-usuario
  *ngIf="alertEliminarService.mostrar"
  [id]="idUsuario"
></app-alert-eliminar-usuario>
