<app-modal [titulo]="tituloModal" [cerrarModal]="onClick.cerrarModal">
  <form class="w-100">
    <div class="d-flex flex-wrap">
      <app-general-input
        [fGroup]="form"
        nombreControl="nombre"
        label="Nombre: "
        [mensajeError]="mensajesError.nombre"
        class="px-2 py-1 col-12 col-md-6 col-sm-6"
        tipo="text"
      ></app-general-input>

      <app-general-checkbox
        class="px-2 py-1 col-12 col-md-6 col-sm-6"
        [fGroup]="form"
        nombreControl="estado"
        label="Estado: "
        texto="Activo"
      ></app-general-checkbox>

    </div>
  </form>
  <div footer>
    <app-general-button
      claseBoton="secondary"
      valor="Cancelar"
      [esSmall]="true"
      [esSecundario]="true"
      class="m-1"
      [onClickButton]="onClick.cerrarModal"
    ></app-general-button>
    <app-general-button
      claseBoton="primary"
      valor="Guardar"
      [esSmall]="true"
      class="m-1"
      (click)="guardar()"
    ></app-general-button>
  </div>
</app-modal>
