<app-modal titulo="Finalizar campaña" [cerrarModal]="onClick.cerrarModal">
    <form class="w-100" [formGroup]="form!">
      <div class="d-flex flex-wrap">
        <app-general-input
          [fGroup]="form"
          nombreControl="fechaFin"
          label="Fecha de fin: "
          [mensajeError]="mensajesError.nombre"
          class="px-2 py-1 col-12 col-md-12 col-sm-12"
          tipo="date"
          [max]="fechaLimite"
        ></app-general-input>
      </div>
    </form>
    <div footer>
      <app-general-button
        claseBoton="secondary"
        label="Cancelar"
        
        [esSecundario]="true"
        class="m-1"
        [onClickButton]="onClick.cerrarModal"
      ></app-general-button>
      <app-general-button
        claseBoton="primary"
        label="Guardar"
        
        class="m-1"
        (click)="guardar()"
      ></app-general-button>
    </div>
  </app-modal>
  