<div class="pagetitle">
  <h1>Mis campañas</h1>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Filtros</h5>
    <div class="align-items-end mb-2 row">
      <app-general-input
        [fGroup]="form"
        nombreControl="nombre"
        label="Nombre:"
        class="col-md-3"
        tipo="text"
      ></app-general-input>
      <div class="col-md-4 gap-1 mt-1">
        <app-general-button
          claseBoton="secondary"
          label="Limpiar"
          [esSecundario]="true"
          class="col-12"
          (click)="onClick.limpiar()"
        ></app-general-button>
        <app-general-button
          claseBoton="primary"
          label="Buscar"
          class="col-12 ms-2"
          (click)="onClick.buscar()"
        ></app-general-button>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2">
      <h5 class="card-title">Listado</h5>
      <app-general-button
        claseBoton="primary"
        label="Nuevo"
        (click)="onClick.nuevaCampania()"
      ></app-general-button>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-sm mt-3">
        <thead>
          <tr>
            <th scope="col">Nro.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Terreno</th>
            <th scope="col">Área</th>
            <th scope="col">Unidad</th>
            <th scope="col">Cultivo</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fin</th>
            <!-- <th scope="col">Estado</th> -->
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsTabla.data">
            <td class="ps-2" scope="row">{{ item.numero }}</td>
            <td scope="row">{{ item.nombre }}</td>
            <td scope="row">{{ item.terreno }}</td>
            <td scope="row">{{ item.areaSembrar }}</td>
            <td scope="row">{{ item.unidad }}</td>
            <td scope="row">{{ item.cultivo }}</td>
            <td scope="row">{{ item.inicio }}</td>
            <td scope="row">{{ item.fin || "-" }}</td>
            <!-- <td>
              <span *ngIf="item.estado; else inactivo" class="badge bg-success"
                >En proceso</span
              >
              <ng-template #inactivo>
                <span class="badge bg-danger">Finalizado</span>
              </ng-template>
            </td> -->
            <td>
              <div class="gap-2 d-flex">
                <div class="dropdown">
                  <button
                    class="btn btn-info dropdown-toggle btn-sm px-3"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Ver más"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.verMas(item)"
                      ></app-general-button>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Editar"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.editarCampania(item)"
                      >
                      </app-general-button>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Finalizar campaña"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.finalizarCampania(item)"
                      >
                      </app-general-button>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Eliminar"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.eliminarCampania(item)"
                      >
                      </app-general-button>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-general-pagination
      [paginaActual]="paginacionVars.paginaActual"
      [totalPaginas]="paginacionVars.totalPaginas"
      [totalFilas]="paginacionVars.totalFilas"
      (eventChangePage)="paginacionVars.onChangePage($event)"
      *ngIf="itemsTabla.data.length > 0"
    ></app-general-pagination>
    <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>
  </div>
</div>

<app-modal-nuevo-editar-campania-sociedad
  *ngIf="modalNuevoEditarCampaniaSociedad.mostrarModal"
  [isEditar]="isEditar"
  (actualizo)="actualizarTabla()"
  [idUsuario]="idUsuario"
  [idCampania]="idCampaniaEditar"
></app-modal-nuevo-editar-campania-sociedad>
<app-finalizar-campania
  *ngIf="modalFinalizarCampania.mostrarModal"
  [idCampania]="idCampaniaEditar"
  (actualizo)="actualizarTabla()"
></app-finalizar-campania>
<app-aler-eliminar-campania
  *ngIf="modalEliminarCampania.mostrar"
  [idCampania]="idCampaniaEditar"
  (recargar)="actualizarTabla()"
></app-aler-eliminar-campania>
