<div class="d-flex justify-content-between align-items-center">
    <h4 class="m-0">Mis campañas</h4>
    <app-general-button
      claseBoton="primary"
      label="Nuevo"
      [esSmall]="true"
      (click)="onClick.nuevaCampania()"
    ></app-general-button>
  </div>
  
  <!-- <div class="accordion my-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Búsqueda
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <app-general-input
            [fGroup]="form"
            nombreControl="nombre"
            class="col-lg-4 col-md-6 col-sm-12 p-0 pt-2"
            tipo="text"
            placeholder="Buscar por nombre"
            nombreIcono="bi-search"
            [onClickButton]="onClick.buscar"
            (keyup.enter)="onClick.buscar()"
          ></app-general-input>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="row p-0 m-0">
    <app-general-input
      [fGroup]="form"
      nombreControl="nombre"
      class="col-lg-4 col-md-6 col-sm-12 p-0 pt-2"
      tipo="text"
      placeholder="Buscar por nombre"
      nombreIcono="bi-search"
      [onClickButton]="onClick.buscar"
      (keyup.enter)="onClick.buscar()"
    ></app-general-input>
  </div>
  
  <!-- <app-general-button
      claseBoton="primary"
      label="Nuevo"
      *ngIf="esAdministrador"
      [esSmall]="true"
      (click)="onClick.nuevaCampania()"
    ></app-general-button> -->
  
  <div class="card mt-2">
    <div class="card-body p-0">
      <table class="table table-sm mb-0 table-hover">
        <thead>
          <tr>
            <th scope="col">Nro.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Terreno</th>
            <th scope="col">Área</th>
            <th scope="col">Unidad</th>
            <th scope="col">Cultivo</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fin</th>
            <!-- <th scope="col">Estado</th> -->
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsTabla.data">
            <td class="ps-2" scope="row">{{ item.numero }}</td>
            <td scope="row">{{ item.nombre }}</td>
            <td scope="row">{{ item.terreno }}</td>
            <td scope="row">{{ item.areaSembrar }}</td>
            <td scope="row">{{ item.unidad }}</td>
            <td scope="row">{{ item.cultivo }}</td>
            <td scope="row">{{ item.inicio }}</td>
            <td scope="row">{{ item.fin || "-" }}</td>
            <!-- <td>
              <span *ngIf="item.estado; else inactivo" class="badge bg-success"
                >En proceso</span
              >
              <ng-template #inactivo>
                <span class="badge bg-danger">Finalizado</span>
              </ng-template>
            </td> -->
            <td>
              <div class="gap-2 d-flex">
                <div class="dropdown">
                  <button
                    class="btn btn-info dropdown-toggle btn-sm px-3"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Ver más"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.verMas(item)"
                      ></app-general-button>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Editar"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.editarCampania(item)"
                      >
                      </app-general-button>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Finalizar campaña"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.finalizarCampania(item)"
                      >
                      </app-general-button>
                      <app-general-button
                        claseBoton="dropdown-item"
                        label="Eliminar"
                        [sinClasesDeBoton]="true"
                        (click)="onClick.eliminarCampania(item)"
                      >
                      </app-general-button>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <app-general-pagination
        [paginaActual]="paginacionVars.paginaActual"
        [totalPaginas]="paginacionVars.totalPaginas"
        [totalFilas]="paginacionVars.totalFilas"
        (eventChangePage)="paginacionVars.onChangePage($event)"
        *ngIf="itemsTabla.data.length > 0"
      ></app-general-pagination>
      <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>
    </div>
  </div>
  
  <app-modal-nuevo-editar-campania-sociedad
  *ngIf="modalNuevoEditarCampaniaSociedad.mostrarModal"
  [isEditar]="isEditar"
  (actualizo)="actualizarTabla()"
  [idUsuario]="idUsuario"
  [idCampania]="idCampaniaEditar"
></app-modal-nuevo-editar-campania-sociedad>
<app-finalizar-campania
  *ngIf="modalFinalizarCampania.mostrarModal"
  [idCampania]="idCampaniaEditar"
  (actualizo)="actualizarTabla()"
></app-finalizar-campania>
<app-aler-eliminar-campania
  *ngIf="modalEliminarCampania.mostrar"
  [idCampania]="idCampaniaEditar"
  (recargar)="actualizarTabla()"
></app-aler-eliminar-campania>