<div class="d-flex flex-column h-100">

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="m-0">Cultivos</h4>

    <app-general-button
    claseBoton="primary"
    label="Nuevo"
    [esSmall]="true"
    (click) = "onClick.nuevoCultivo()"
    ></app-general-button>
  </div>

  <div class="row p-0 m-0">
    <app-general-input
    [fGroup]="form"
    nombreControl="nombre"
    class="col-lg-4 col-md-6 col-sm-12 p-0 pt-2"
    tipo="text"
    placeholder="Buscar por nombre"
    nombreIcono="bi-search"
    [onClickButton]="onClick.buscar"
    (keyup.enter)="onClick.buscar()"
    ></app-general-input>
  </div>

  <div class="card mt-2">
    <div class="card-body p-0">
      <table class="table table-sm mb-0 table-hover">
        <thead>
          <tr>
            <th scope="col">Nro.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsTabla.data; let i = index">
            <td class="ps-2" scope="row">{{ item.correlativo }}</td>
            <td scope="row">{{ item.nombreCultivo }}</td>
            <td>
              <div class="gap-2 d-flex">
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle btn-sm px-3" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <app-general-button
                          claseBoton="dropdown-item"
                          label="Editar"
                          [sinClasesDeBoton]="true"
                          (click)="onClick.editarCultivo(item)">
                        </app-general-button>
                        <app-general-button
                          claseBoton="dropdown-item"
                          label="Eliminar"
                          [sinClasesDeBoton]="true"
                          (click)="onClick.eliminarCultivo(item.idCultivo)">
                        </app-general-button>
                      </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <app-general-pagination
        [paginaActual]="paginacionVars.paginaActual"
        [totalPaginas]="paginacionVars.totalPaginas"
        [totalFilas]="paginacionVars.totalFilas"
        (eventChangePage)="paginacionVars.onChangePage($event)"
        *ngIf="itemsTabla.data.length > 0"
      ></app-general-pagination>
      <app-general-sin-datos *ngIf="verMensajeSinDatos"></app-general-sin-datos>
    </div>
  </div>

</div>
<app-modal-nuevo-editar-cultivo
  *ngIf="modalNuevoEditarCultivoService.mostrarModal"
  [isEditar]="isEditar"
  [cultivoItem]="cultivoItem"
  (actualizo)="actualizarTabla()"
></app-modal-nuevo-editar-cultivo>

<app-alert-eliminar
  *ngIf="alertEliminarService.mostrar"
  [idCultivo]="idCultivo"
  (elimino)="actualizarTabla()"
></app-alert-eliminar>
