<div class="pagetitle d-flex align-items-center">
  <app-general-button
    claseBoton="light"
    nombreIcono="bi bi-arrow-left"
    (click)="onClick.irAtras()"
  ></app-general-button>
  <h1>Campaña: {{ nombreCampania }}</h1>
</div>

<div class="card">
  <div class="card-body pt-3">
    <!-- Bordered Tabs -->
    <ul class="nav nav-tabs nav-tabs-bordered ">
      <li class="nav-item">
        <button
          class="nav-link "
          data-bs-toggle="tab"
          data-bs-target="#profile-overview"
          routerLinkActive="active"
          routerLink="actividades"

        >
          Actividades
        </button>
      </li>

      <li class="nav-item">
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#profile-edit"
          routerLinkActive="active"
          routerLink="gastos"
        >
          Gastos
        </button>
      </li>

      <li class="nav-item">
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#cosechas"
          routerLinkActive="active"
          routerLink="cosechas"
        >
          Cosechas
        </button>
      </li>
    </ul>
    <div class="tab-content pt-2">
      <div
        class="tab-pane fade pt-2 active show"
        id="profile-overview cosechas profile-edit"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
