<div class="d-flex flex-column h-100">
  <div class="d-flex align-items-center">
    <app-general-button
      claseBoton="light"
      nombreIcono="bi bi-arrow-left"
      (click)="onClick.irAtras()"
    ></app-general-button>
    <h4 class="m-0 ps-2">Campaña: {{ nombreCampania }}</h4>
  </div>

  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link active" 
        id="actividades-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#actividades" 
        type="button" 
        role="tab" 
        aria-controls="actividades" 
        aria-selected="true"
      >Actividades</button>
    </li>
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link" 
        id="gastos-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#gastos" 
        type="button" 
        role="tab" 
        aria-controls="gastos" 
        aria-selected="false"
      >Gastos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link" 
        id="cosechas-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#cosechas" 
        type="button" 
        role="tab" 
        aria-controls="cosechas" 
        aria-selected="false"
      >Cosechas</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane  show active" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
     <app-actividades-campania></app-actividades-campania>

    </div>
    <div class="tab-pane " id="gastos" role="tabpanel" aria-labelledby="gastos-tab">
      <app-gastos-campania></app-gastos-campania>
    </div>
    <div class="tab-pane " id="cosechas" role="tabpanel" aria-labelledby="cosechas-tab">
      <app-cosechas-campania
      [idCampania]="idCampania"
      ></app-cosechas-campania>
    </div>
  </div>
</div>


