<app-general-alert titulo="Integrantes" [cerrarAlert]="onClick.cerrarAlert">
    <p class="fw-normal mb-0">{{ pregunta }}</p>
    <div footer>
      <app-general-button
        claseBoton="secondary"
        label="Cancelar"
        
        [esSecundario]="true"
        class="m-1"
        (click)="onClick.cerrarAlert()"
      ></app-general-button>
      <app-general-button
        claseBoton="primary"
        label="Aceptar"
        
        class="m-1"
        (click)="onClick.accion()"
      ></app-general-button>
    </div>
  </app-general-alert>
  